:root{
    --primary: #16216a;
    --secondary: #eaebf1;
    --third: #b9bcd2;
}
body ,.todo{height: 100vh;}
.todo section{font-family: math; width:340px; background: var(--secondary); height: 530px;
    box-shadow:inset 2px 2px 2px #dcdee8, inset -2px -2px 4px #e0e1e6;}
.todo .img-container{background: var(--third)}
.todo .started-btn{background: var(--primary)}
.todo .started-btn:active{background: var(--third);border-color: transparent;}
.todo .layout{height: 230px; top: -100px;background: var(--third); /* height: 300px;top: -158px; */ }
.todo .sec-data{top: 0;}
.swal2-title{font-size: 17px;}

.todo_task label{cursor: pointer; background: var(--third);color: var(--primary); padding: 10px; border-radius: 50%;}
.todo-actions{right: 0;z-index: 1;display: none;margin: -85px 0;}
.todo-actions :is(.toggle,.remove){margin: 0 0 0 -17px;}
.todo-actions .edit{margin: 0 0 0 -50px;}
.taskEditActions i{cursor: pointer;}

.sec4 .todo_task .task:hover .todo-actions{display: block;}
@media (max-width: 280px) {
    .todo section{width:270px;}
}
